/**
 * global
 */
body {
    background-color: antiquewhite;
    font-size: large;
}
/**
 * main content
 */
div#content-main {
    text-align: center;
}
/**
 * system information
 */
p#sys-info {
    text-align: center;
}
p#sys-info>a {
    text-decoration: none;
    color: dodgerblue;
}

form input {
    border: 2px solid goldenrod;
    border-radius: 4px;
    padding: 2px;
    font-size: medium;
}
form input#btn-add {
    background-color: #efef00;
    padding: 4px 10px;
    width: 120px;
    height: 40px;
    font-size: medium;
}
form input#btn-add:active {
    font-weight: bold;
    background-color: #ffff00;
}